<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <appSettings>
    <add key="PageNoProvider" value="True" />
    <add key="PageSizeProvider" value="True" />
    <add key="EditAllowedDays" value="31" />
    <add key="FPRegularizeInDays" value="3" />
    <add key="allowedList" value="*" />
    <add key="LocationWiseCardPunchDate" value="09/04/2012" />
    <add key="AtchDir" value="D:\App_Vault\Attendance"/>
    <add key="AtchDir1" value="C:\Temp"/>
  </appSettings>
  <connectionStrings>
    <remove name="AspNetDBConnection" />
    <add name="--AspNetDBConnection" connectionString="Data Source=192.168.28.136;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient" />
    <add name="AspNetDBConnection" connectionString="Data Source=192.9.200.150;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient" />
    <add name="-AspNetDBConnection" connectionString="Data Source=.\LGSQL;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" >
      <codeSubDirectories>
        <add directoryName="ATN"/>
      </codeSubDirectories>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="None" timeout="50" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspNetDBConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="8" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="AspNetDBConnection" name="AspNetSqlRoleProvider" type="system.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <sessionState cookieless="UseDeviceProfile" timeout="60">
    </sessionState>
    <customErrors mode="RemoteOnly" />
    <identity impersonate="false" />
    <authorization>
      <allow users="*" />
    </authorization>
    <globalization culture="en-GB" uiCulture="en-GB" requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages maintainScrollPositionOnPostBack="true" styleSheetTheme="Default">
      <controls>
        <add tagPrefix="AJX" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="LGM" tagName="LoginLine" src="~/Sys_Controls/Login0.ascx" />
        <add tagPrefix="LGM" tagName="LoginPage" src="~/Sys_Controls/Login1.ascx" />
        <add tagPrefix="LGM" tagName="ChangePass" src="~/Sys_Controls/Login2.ascx" />
        <add tagPrefix="LGM" tagName="ToolBar0" src="~/Sys_Controls/lgToolbar.ascx" />
        <add tagPrefix="LGM" tagName="Informations" src="~/Sys_Controls/Controls/Informations.ascx" />
        <add tagPrefix="LGM" tagName="LGLoading" src="~/Sys_Controls/lgLoading.ascx" />
        <add tagPrefix="LGM" tagName="LGMessage" src="~/Sys_Controls/lgMessage.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnApplicationStatus" src="~/ATN_Main/APP_FKControls/LC_atnApplicationStatus.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnEmployees" src="~/ATN_Main/APP_FKControls/LC_atnEmployees.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnFinYear" src="~/ATN_Main/APP_FKControls/LC_atnFinYear.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnTranType" src="~/ATN_Main/APP_FKControls/LC_atnTranType.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnPunchStatus" src="~/ATN_Main/APP_FKControls/LC_atnPunchStatus.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnLeaveTypes" src="~/ATN_Main/APP_FKControls/LC_atnLeaveTypes.ascx" />
        <add tagPrefix="LGM" tagName="LC_LeaveCard" src="~/ATN_Main/APP_FKControls/LC_LeaveCard.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnExecutionStates" src="~/ATN_Main/APP_FKControls/LC_atnExecutionStates.ascx" />
        <add tagPrefix="LGM" tagName="LC_hrmOffices" src="~/ATN_Main/APP_FKControls/LC_hrmOffices.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnPunchConfig" src="~/ATN_Main/APP_FKControls/LC_atnPunchConfig.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnMonths" src="~/ATN_Main/APP_FKControls/LC_atnMonths.ascx" />
        <add tagPrefix="LGM" tagName="LC_ijtMonths" src="~/ATN_Main/APP_FKControls/LC_ijtMonths.ascx" />
        <add tagPrefix="LGM" tagName="LC_hrmEmployees" src="~/ATN_Main/APP_FKControls/LC_hrmEmployees.ascx" />
        <add tagPrefix="LGM" tagName="LC_taCategories" src="~/ATN_Main/APP_FKControls/LC_taCategories.ascx" />
        <add tagPrefix="LGM" tagName="LC_idmProjects" src="~/ATN_Main/APP_FKControls/LC_idmProjects.ascx" />
        <add tagPrefix="LGM" tagName="LC_hrmCompanies" src="~/ATN_Main/APP_FKControls/LC_hrmCompanies.ascx" />
        <add tagPrefix="LGM" tagName="LC_hrmDivisions" src="~/ATN_Main/APP_FKControls/LC_hrmDivisions.ascx" />
        <add tagPrefix="LGM" tagName="LC_hrmDepartments" src="~/ATN_Main/APP_FKControls/LC_hrmDepartments.ascx" />
        <add tagPrefix="LGM" tagName="LC_hrmDesignations" src="~/ATN_Main/APP_FKControls/LC_hrmDesignations.ascx" />

        <add tagPrefix="LGM" tagName="LC_taTPInvoicing" src="~/TA_Main/APP_FKControls/LC_taTPInvoicing.ascx" />
        <add tagPrefix="LGM" tagName="LC_taCategories" src="~/ATN_Main/APP_FKControls/LC_taCategories.ascx" />
        
        <add tagPrefix="LGM" tagName="LC_atnSAStatus" src="~/ATN_Main/APP_FKControls/LC_atnSAStatus.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnSABySI" src="~/ATN_Main/APP_FKControls/LC_atnSABySI.ascx" />
        <add tagPrefix="LGM" tagName="LC_UpdateAttendance" src="~/ATN_Main/APP_Controls/LC_UpdateAttendance.ascx" />
        <add tagPrefix="LGM" tagName="LC_UpdateSAAttendance" src="~/ATN_Main/APP_Controls/LC_UpdateSAAttendance.ascx" />

      </controls>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="leave@isgec.co.in">
        <network host="192.9.200.214" userName="leave" password="ijt123" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
        <add name="LGM-rptx" path="*.rptx" verb="*" type="SIS.SYS.Utilities.rptxHandler" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsWebHrAdm1Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.9.200.150/WebHRAdm1/app_services/wswebhradm1.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsWebHrAdm1Soap"
        contract="HRISEvents.wsWebHrAdm1Soap" name="wsWebHrAdm1Soap" />
    </client>
  </system.serviceModel>
</configuration>
